<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AI EARTH GRANT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding-bottom: 30px;
      overflow: hidden;
      background-color: #519259;

    }


    .RIGHT {
      float: right;
    }

    .LEFT {
      float: left;
      padding-left: 0px;
    }

    li {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a {
      display: block;
      color: white;
      text-align: bottom;
      padding-bottom: 0px;
      text-decoration: none;
    }

    li a:hover {
      background-color: white;
    }

    .top-container {
      background-color: #519259;
    }

    body {
      background-color: #F7F6F2;
    }

    p {
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="top-container">
    <ul>

      <li class="LEFT">
        <h1><b><i>AI EARTH GRANT PROJECT<br>
              <h6>(An AI based Crop Monitoring System for Disease Prediction and Weed Detection in Agriculture Field)</h6>
            </i></b></h1>
      </li>
      <li class="RIGHT"><a href="/contact">
          <h2><i>Contact</i></h2>
        </a></li>
      <li class="RIGHT"><a href="/team">
          <h2><i>Team</i></h2>
        </a></li>
      <li class="RIGHT"><a href="/about">
          <h2><i>About</i></h2>
        </a></li>
      <li class="RIGHT"><a href="/index">
          <h2><i>Home</i></h2>
        </a></li>
    </ul>
  </div>
  <div class="content">
    <h1>
      <center>ABSTRACT</center>
    </h1>
    <p>
      Agricultural automation system is an emerging research area worldwide. The Crop monitoring system has recently attracted tremendous interest due to the potential application in emerging technology. More importantly, this technique is used to
      enhance the performance of traditional system to develop and design using new automated solution for the growth of plants. This system is helpful to monitor few parameters for growth of plants. The Important parameter is by capturing the images
      of plant by using Unmanned Aerial Vehicle (UAV), and processing the image using deep learning Algorithm to analyze and determine the diseases affected in the crop. UAV helps to capture the different views of crops, which produce faster results
      of disease prediction in the crops. This system is also helps to monitor the impact of climate change which affect the growth of the crops.
    </p>
    <center>
      <h1>PROJECT SUMMARY</h1>
    </center>
    <p>
      The global population is expected to reach more than nine billion by 2050 which will require an increase in agricultural production by 70% to fulfill the demand. As the world population is increasing due to which land resources becoming
      insufficient to continue the demand-supply chain. So, we need a smarter approach and become more efficient about how we farm and can be most productive. We have identified the challenge faced in climatic factors which is difficult for farmers
      to make decisions on harvesting and sowing seeds. We have also identified the challenges faced in weed control without which production cost will be increased. Another challenge faced in accuracy and performance of disease prediction in the
      crop. This project will address our hypothesis that Artificial Intelligence (AI)—advanced machine learning—can help us to fill these knowledge gaps by improving the accuracy and efficiency of database analysis. Specifically, we will use
      Microsoft Azure to develop an AI model that can automatically identify the nutrient deficiency symptoms in the crop for predicting disease affected and removal of weed from the plants.
    </p>
    <p>
      Lot of research is going on crop field monitoring and weed detection system. However some of the limitations still yet to overcome in term of prediction accuracy and performance. This project use UAV(Unmanned Aerial Vehicle) for capturing the
      images from various ranges and apply advanced machine learning model to predict the disease affected in the crop which will provide better accurate results compared to existing work. In existing weed detector system, it cannot detect the weeds
      located near the crop. This project overcome this using AI to automatically detect the weeds resides near the crop. Tchis project also extend the existing work that continuously monitoring the crop based on climate change and alert the farmers
      through smart phone from anywhere and provide guidance to take necessary action.
    </p>
    <p>
      Our project proposes to apply AI to automatically classify images captured by Unmanned Aerial Vehicle which shaping a more effective and efficient method to predict the disease affected In the crop and remove the weed located near the crop
      which also inform our practices to protect the crops from the environmental factor such as climate change. We will use a dataset of approximately 1 million images collected from UAV deployed at various locations in the agricultural field. Half
      of the photo dataset has been labeled and half has not yet been processed.
    </p>
  </div>
</body>

</html>
